<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 권한 선언 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YouEye"
        tools:targetApi="31">

        <!-- 메인 액티비티 -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 로그인 액티비티들 -->
        <activity
            android:name=".login.LoginActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".login.IDLoginActivity"
            android:exported="true" />
        <activity
            android:name=".login.PWLoginActivity"
            android:exported="true" />

        <!-- 회원가입 액티비티들 -->
        <activity
            android:name=".member.MemberActivity"
            android:exported="true" />
        <activity
            android:name=".member.IDMemberActivity"
            android:exported="true" />
        <activity
            android:name=".member.PWMemberActivity"
            android:exported="true" />

        <!-- 홈 액티비티 -->
        <activity
            android:name=".home.HomeActivity"
            android:exported="true" />

        <!-- 홈 버튼 액티비티들 -->
        <activity
            android:name=".home.ImageSearchActivity"
            android:exported="true" />
        <activity
            android:name=".home.VoiceSearchActivity"
            android:exported="true" />
        <activity
            android:name=".home.TextSearchActivity"
            android:exported="true" />
        <activity
            android:name=".home.MyPageActivity"
            android:exported="true" />
        <activity
            android:name=".home.ChangePasswordActivity"
            android:exported="true" />
        <activity
            android:name=".home.Show_pill"
            android:exported="true" />

        <!-- 마이페이지 버튼 액티비티들 -->
        <activity
            android:name=".alarm.TimeActivity"
            android:exported="true" />
        <activity
            android:name=".alarm.TimePickerActivity"
            android:exported="true" />
        <activity
            android:name=".home.DrugDetailActivity"
            android:exported="true" />

        <!-- 서비스 및 리시버 -->
        <service
            android:name=".alarm.PlayingService"
            android:foregroundServiceType="mediaPlayback"
            tools:ignore="ForegroundServicePermission" />

        <receiver
            android:name=".alarm.AlarmReceiverActivity" />

        <!-- 설정 액티비티 -->
        <activity
            android:name=".home.SettingsActivity"
            android:exported="true" />

        <!-- 사진 결과 액티비티 -->
        <activity
            android:name=".home.PhotoResultActivity"
            android:exported="true" />

    </application>
</manifest>
