<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 인터넷 권한 추가 -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YouEye"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".login.IDLoginActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".login.PWLoginActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".member.MemberActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".member.IDMemberActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".member.PWMemberActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".home.HomeActivity"
            android:exported="true">
        </activity>
        <!--home 버튼 activity-->
        <activity
            android:name=".home.ImageSearchActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".home.VoiceSearchActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".home.TextSearchActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".home.MyPageActivity"
            android:exported="true">
        </activity>
        <!--ㅡmypage 버튼 activity-->
        <activity
            android:name=".alarm.TimeActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".alarm.TimePickerActivity"
            android:exported="true">
        </activity>
    </application>

</manifest>
